@import url('reset.css');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

input { 
    appearance: none; 
    -moz-appearance: none; 
    -webkit-appearance: none; 
    border-radius: 0; 
    -webkit-border-radius: 0; 
    -moz-border-radius: 0;
}

input:focus {
    outline: none;
}

img {
    width: 100%;
}

/* reset css */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/* font */


.content-wrap {
    max-width: 1920px;
    min-width: 1100px;
    margin: 0 auto;
}

/* main poster */

.main-poster {
    position: relative;
    background: url(../images/image_01.jpg) no-repeat center 0;
    /* background-size: 100%;
    height: 2850px; */
    height: 3280px;
}

/* synopsis */

.synopsis {
    position: relative;
    background: url(../images/image_02.jpg) no-repeat center 0;
    height: 1240px;
}

/* trailer */

.trailer {
    position: relative;
    background: url(../images/image_03.jpg) no-repeat center 0;
    height: 1692px;
}
.trailer > video {
    display: block;
    width: 1300px;
    /* width: 65%; */
    margin: 0 auto;
    padding-top: 390px;
    /* padding-top: 20%; */
    z-index: 999;
}
.trailer > video:focus {
    outline: none;
}

/* event */

.event {
    position: relative;
    background: url(../images/image_04.jpg) no-repeat center 0;
    height: 6134px;
}

/* personal information */


.p-info {
    width: 70%;
    margin: 0 auto;
    padding-top: 4300px;
    z-index: 999;
}
.info-flex {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}
.info-flex > p {
    display: flex;
    align-items: center;
    font-size: 2.3rem;
    font-weight: 500;
    color: #fff;
}
.info-flex > input {
    width: 75%;
    height: 100px;
    font-size: 2rem;
    border: none;
}
.info-flex > input:focus {
    outline: none;
}

/* enter button */
.enter-btn {
    display: block;
    width: 35%;
    height: 100px;
    margin: 0 auto;
    margin-top: 150px;
    border: none;
    background: #fba131;
    color: #fff;
    font-size: 3.5rem;
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 1.8;
    border-radius: 15px;
}

.enter-btn:hover {
    cursor: pointer;
}



/* notice */

.notice {
    position: relative;
    background: url(../images/image_05.jpg) no-repeat center 0;
    height: 900px;
}





@media (max-width: 1301px) {
    .main-poster {
        background-size: 100%;
        height: 1950px;
    }
    .synopsis {
        background-size: 130%;
        height: 950px;
    }
    .trailer {
        background-size: 130%;
        height: 1300px;
    }
    .trailer > video {
        width: 1000px;
        padding-top: 300px;
    }
    .event {
        background-size: 130%;
        height: 4714px;
    }
    .p-info {
        padding-top: 3200px;
    }
    .notice {
        background-size: 130%;
        height: 690px;
    }
    .enter-btn {
        font-size: 2.8rem;
        font-weight: 500;
        line-height: 1.9;
        border-radius: 10px;
    }
}
 
@media (max-width: 1024px) {
    .main-poster {
        height: 1650px;
    }
    .synopsis {
        height: 805px;
    }
    .trailer {
        height: 1090px;
    }
    .trailer > video {
        width: 800px;
        padding-top: 250px;
    }
    .event {
        height: 3986px;
    }
    .p-info {
        padding-top: 2650px;
    }
    .notice {
        height: 580px;
    }
    .enter-btn {
        font-weight: 500;
        line-height: 1.9;
        border-radius: 8px;
    }
}